<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{birthCertificate}"></title>
    <link rel="stylesheet" href="/resources/css/default.css"/>
    <link rel="stylesheet" href="/resources/css/certificate.css"/>
</head>
<body>
<h1>
    <span th:text="#{birthCertificate}"></span>
    <span th:text="#{issue}"></span>
</h1>

<table>
    <caption></caption>
    <thead>
    <tr class="table_title">
        <th th:colspan="14">
            <p th:text="#{birthCertificate}"></p>
            <p>
                <span th:text="'( 신고일 : '"></span>
                <span th:text="${dto.reportYear}"></span>
                <span th:text="'년 '"></span>
                <span th:text="${dto.reportMonth}"></span>
                <span th:text="'월 '"></span>
                <span th:text="${dto.reportDay}"></span>
                <span th:text="'일 '"></span>
                <span th:text="' )'"></span>
            </p>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="table_sub_title" th:colspan="1" th:rowspan="4">
            <p th:text="'출'"></p>
            <p th:text="'생'"></p>
            <p th:text="'자'"></p>
        </td>
        <td class="table_sub_title" th:colspan="2" th:text="'성명'"></td>
        <td th:colspan="4" th:text="${dto.name}"></td>
        <td th:colspan="3" class="table_sub_title" th:text="'성별'"></td>
        <td th:colspan="4" th:text="${dto.genderCode}"></td>
    </tr>
    <tr>
        <td th:colspan="2" class="table_sub_title" th:text="'출생일시'"></td>
        <td th:colspan="11" th:text="${dto.birthDate}"></td>
    </tr>
    <tr>
        <td th:colspan="2" class="table_sub_title" th:text="'출생장소'"></td>
        <td th:colspan="11" th:text="${dto.birthPlaceCode}"></td>
    </tr>
    <tr>
        <td th:colspan="2" class="table_sub_title">
            <p th:text="'등록기준지'"></p>
            <p th:text="'(본적)'"></p>
        </td>
        <td th:colspan="11" th:text="${dto.registrationBaseAddress}"></td>
    </tr>
    <tr>
        <td th:colspan="1" th:rowspan="2" class="table_sub_title">
            <p th:text="'부'"></p>
            <p th:text="'모'"></p>
        </td>
        <td th:colspan="1" class="table_sub_title" th:text="'부'"></td>
        <td th:colspan="1" class="table_sub_title" th:text="'성명'"></td>
        <td th:colspan="4" th:text="${dto.fatherName}"></td>
        <td th:colspan="3" class="table_sub_title" th:text="'주민등록번호'"></td>
        <td th:colspan="4" th:text="${dto.fatherResidentRegistrationNumber}"></td>
    </tr>
    <tr>
        <td th:colspan="1" class="table_sub_title" th:text="'모'"></td>
        <td th:colspan="1" class="table_sub_title" th:text="'성명'"></td>
        <td th:colspan="4" th:text="${dto.motherName}"></td>
        <td th:colspan="3" class="table_sub_title" th:text="'주민등록번호'"></td>
        <td th:colspan="4" th:text="${dto.motherResidentRegistrationNumber}"></td>
    </tr>
    <tr>
        <td th:colspan="1" th:rowspan="3" class="table_sub_title">
            <p th:text="'신'"></p>
            <p th:text="'고'"></p>
            <p th:text="'인'"></p>
        </td>
        <td th:colspan="2" class="table_sub_title" th:text="'성명'"></td>
        <td th:colspan="4" th:text="${dto.reporterName}"></td>
        <td th:colspan="3" class="table_sub_title" th:text="'주민등록번호'"></td>
        <td th:colspan="4" th:text="${dto.reporterResidentRegistrationNumber}"></td>
    </tr>
    <tr>
        <td th:colspan="2" class="table_sub_title" th:text="'자격'"></td>
        <td th:colspan="11" th:text="${dto.reporterQualificationsCode}"></td>
    </tr>
    <tr>
        <td th:colspan="2" class="table_sub_title" th:text="'이메일'"></td>
        <td th:colspan="4" th:text="${dto.reporterEmailAddress}"></td>
        <td th:colspan="3" class="table_sub_title" th:text="'전화번호'"></td>
        <td th:colspan="4" th:text="${dto.reporterPhoneNumber}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>