<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{certificateIssuanceList}"></title>
    <link rel="stylesheet" href="/resources/css/default.css"/>
    <link rel="stylesheet" href="/resources/css/list.css"/>
    <script src="/resources/js/certificate-issue.js"></script>
</head>
<body>
<h1 th:text="#{certificateIssuanceList}"></h1>

<table>
    <caption></caption>
    <thead>
    <tr class="table_title">
        <th th:text="#{certificateConfirmationNumber}"></th>
        <th th:text="#{certificateTypeCode}"></th>
        <th th:text="#{certificateIssueDate}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each=" item, i : ${list}">
        <td th:text="${item.certificateConfirmationNumber}"></td>
        <td th:text="${item.certificateTypeCode}"></td>
        <td th:text="${item.certificateIssueDate}"></td>
    </tr>
    </tbody>
</table>

<div class="page">
    <a th:href="@{./(page=${list.getNumber - 1} , size=${list.getSize}  )}"
       th:if="${list.getNumber gt 0 }" th:text="#{prev}"></a>
    <span th:text="${list.getNumber+1}"/>/<span th:text="${list.getTotalPages}"/>
    <a th:href="@{./{serialNumber}/(serialNumber=${residentSerialNumber} , page=${list.getNumber+1} , size=${list.getSize}  )}"
       th:if="${list.getNumber lt list.getTotalPages - 1}" th:text="#{next}"></a>
</div>
</body>
</html>